@font-face {
  font-family: Helvetica;
  src: url("./fonts/HelveticaNeueLTStd-Th.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Harrington;
  src: url("./fonts/HARRINGT.TTF") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gabriola;
  src: url("./fonts/Gabriola.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Halo;
  src: url("./fonts/HaloHandletter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
